[2017-06-30 06:34] ChristopherA opened #1 "Transaction ID as Position in Block?"
Blockstack was the first to suggest that the DID an index of the transaction within a confirmed block, rather than the transaction ID. The advantage of this is that it is possible to have a transaction id that isn't confirmed, as it is only the hash of the transaction. The disadvantage of it is all of the bitcoin explorer APIs search on transaction id.

The most secure method of confirming a DID:B

[2017-06-30 06:44] ChristopherA opened #2 "Bech32 of Transaction as DID"
I really like idea of using a bech32 encoded DID:BTCR as @sipa did some amazing work investing a good error detecting AND correcting encoding algorithm.  https://github.com/sipa/bech32

@veleslavs & @jonasschnelli's proposal for encoding the transaction index and block number also make great sense, and I like that the magic values can be used to identify different variants blockchains close to bit

[2017-06-30 06:51] ChristopherA opened #3 "Censorship of OP_RETURN Transactions"
It has been raised by @petertodd and others that using an op_return to encode the pointer to the DDO could hurt censorship resistance, as minors could identify those transactions that are DID related and not include them.

Instead, they recommend encoding it into the script of a P2SH transaction as some form of pay-to-contract. However, I still don't have a proposal from @petertodd on the best way

[2017-06-30 06:57] ChristopherA opened #4 "UTXO and Blockchain Bloat"
I know that @lukejr and others will complain that DIDs have the potential to bloat the blockchain and UTXO mempool, as each DID:BTCR will have to have at least one unspent output.

For know I propose that we acknowledge this objection and keep it on our issue list. We will recommend P2WPKH over P2PKH so that witness data and op_return data can easily by purged by nodes who do not wish to retain al

[2017-06-30 07:02] ChristopherA opened #5 "Revocation Reason Codes"
The easiest way to revoke a DID is to just spend the previously unspent funds on the tip.

This technique was inspired by my revoke-ssl approach suggested in https://github.com/ChristopherA/revocable-self-signed-tls-certificates-hack and presented at  https://www.meetup.com/SF-Bitcoin-Devs/events/222712738/

In that proposal it was suggested that optionally the op_return could encode the reason fo

[2017-06-30 07:06] ChristopherA opened #6 "Holds and Timelocks"
Related to issue #5 it may be useful to have a "DID hold" op_return with a date, such that the DID is not considered revoked, but that it isn't valid yet. This way you can pre-publish a DID.

There also may be some useful tricks by adding to the P2PKH transaction a timelock.

[2017-06-30 07:15] ChristopherA opened #7 "Types of Pointers to DDOs & URI Prefixes?"
We would like multiple approaches in DID:BTCR to point to the DDO.

The first is simple — don't include an op_return at all. A DDO is constructed based on information from the transaction and the block the transaction is confirmed in. These include the control key (from the public key in the P2PKH script), the owner key (the hash of the future key that is the address the first txout has been sent

[2017-06-30 07:20] ChristopherA opened #8 "DDOs as self-signed Verifiable Claims"
The current DID implementors spec for DIDs just has the DDO being a signed JSON-LD blob.

I've always been inclined that instead it should be a self-signed verifiable claim, pointing to itself. This may be a minor point but that is the way I've always thought of the trusted root ever since the days of Ronald Rivest's SDSI.

I believe this is what @msporny and @dlongley are doing with their DDO met

[2017-06-30 07:31] ChristopherA opened #9 "Parsing Public Key from Transaction?"
Ideally it would be great if you could completely verify that a signed DDO and its corresponding DID:BTCR transaction are both have the same public key purely with Bash & CURL, or C and JSON-RPC, calling a full -txindex version of bitcoin-core's bitdcoind (see https://github.com/ChristopherA/Learning-Bitcoin-from-the-Command-Line/blob/master/12_1_Accessing_Bitcoind_with_Curl.md & https://github.co

[2017-06-30 07:46] ChristopherA opened #10 "Initial example Web-Of-Trust Verified Claims?"
There was some discussion on this at https://github.com/w3c/vc-data-model/issues/32

I would love it if we at least be able by end of the hackathon be as good as PGP able be able to claim that Alice's pseudo-anonymous DID knows Bob's pseudo-anonymous ID (which is basically all that PGP does).

If we are also able to all one party to PROVE that the other party holds the control key for their DID, e

[2017-06-30 07:49] ChristopherA opened #11 "Core Use Case?"
My vision for the core Use Case for DID:BTCR is at https://github.com/w3c/vc-use-cases/issues/31 — I encourage everyone to read it. I'd also love to continue to work with @jandrieu on moving the use case forward toward his full 15-step model that he did for Jorum during our hackathon if he is up for it. Maybe Natalie could help? @kimdhamilton?

[2017-06-30 07:52] ChristopherA opened #12 "Simple non-PII skills claims?"
As many of the core supporters of verified claims are desiring to do educational claims, I'm wondering if we can some support some very simple skill competency claims that are web-of-trust and don't have personally identifiable information, but are still useful.

For instance, I could make a claim that my DID I call by the local name/nym "BoB" claims that Bob's localname/nym of Alice has a high-pr

[2017-06-30 07:55] jonasschnelli commented on #2
Yes. It's currently in the "discussion-phase", although, there was not a single response (AFAIK) on the mailing list.

There is a 5-bit magic (https://github.com/veleslavs/bips/blob/Bech32_Encoded_TxRef/bip-XXXX-Bech32_Encoded_Transaction_Postion_References.mediawiki#reserved-values) that should allow some other blockchains.

The "Bech32 Encoded Transaction Postion References" proposal is independ

[2017-06-30 07:59] jonasschnelli commented on #1
Ideally block explorer support it. But I guess that will take a while.

**Much better is**, that you actually don't need a tx-indexed blockchain or blockexplorer to grab a Tx-Ref according to the [txref BIP](https://github.com/veleslavs/bips/blob/Bech32_Encoded_TxRef/bip-XXXX-Bech32_Encoded_Transaction_Postion_References.mediawiki#reserved-values).

You can do it on the client side within seconds

[2017-06-30 08:25] ChristopherA commented on #9
The proper terminology is "public key recovery from ECDSA signature".

Some clues on recovering public key from signature in a bitcoin transaction:

* Bitcoin ECDSA Recovery: https://bitcointalk.org/index.php?topic=6430.0

* Public key recovery from a signature may result in one of 4 possible keys: https://bitcoin.stackexchange.com/questions/42519/is-it-possible-to-get-the-public-key-from-a-transa

[2017-06-30 08:28] ChristopherA commented on #1
@jonasschnelli Very cool ! I didn't quite connect that you didn't need a tx-indexed full node to grab one of your tx-refs!

I look forward to seeing your libbtc implementation of it. If you have it functioning by the start of our virtual hackathon on the week of July 10th, we'll likely base the C-version of our prototype code for DIDs using libbtc.

[2017-06-30 08:32] ChristopherA commented on #9
@jonasschnelli By any chance does your libbtc have the ability to recover public key(s) from transaction signatures? (I recognize there may be 4 possible keys, but as we are writing the spec we can limit which kinds of private keys are used).

Like Bitcoin, a DID:BTCR transaction ideally never re-uses a private key, however, it does sign both the transaction and the DDO object at the same time. Th

[2017-06-30 16:49] ChristopherA commented on #9
@roconnor suggests this Haskell code that implements public key recovery: https://github.com/laanwj/Purecoin/blob/master/Purecoin/Crypto/EcDsaSecp256k1.hs#L79-L86

[2017-06-30 16:54] kimdhamilton commented on #11
tagging @nsmolenski

[2017-06-30 17:20] jonasschnelli commented on #9
@ChristopherA: Recoverable pubkeys should be easy to add to libbtc. Libbtc depends on libsecp256k1 which has support for recoverable signatures.
Example: `tx1-rk63-uvxf-9pqc-sy` references to a tx with two outputs, first output is a OP_RETURN with a 65-byte recoverable signature, seconds is a P2PKH output which indicates if the key is revoked (when spent).

[2017-06-30 17:21] jonasschnelli commented on #1
I can add some things to give you a C toolset to worth with txref as well as with the block fetching... most things are already there. Should be done before July 10th.

[2017-06-30 18:08] ChristopherA commented on #1
@jonasschnelli — Thanks! That will be extremely helpful.

BTW, do you have any recommendations for a C library to aid in using JSON-RPC calls to bitcoind? @shannona and I have been using libbitcoinrpc for our tutorial (see drafts at https://github.com/ChristopherA/Learning-Bitcoin-from-the-Command-Line/blob/master/12_2_Accessing_Bitcoind_with_C.md & https://github.com/ChristopherA/Learning-Bitcoin

[2017-06-30 18:20] jonasschnelli commented on #1
Yeah. RPC / JSON is painful in plain C.
I came to the conclusion to only do the core stuff in C (hash / tx / blocks / bip32 / keys / ecdsa / ser-/deser / AES / CPRNG), things that can be use on embedded devices. JSON/RPC as well as the network layer make probably much more sense to do in C++(11).
C++11 is fully portable IMO (all modern smartphone operating system as well as all widely used desktop

[2017-06-30 19:10] ChristopherA opened #13 "Key Reuse Recommendations?"
Ideally, based on bitcoin principles, a key pair is only used twice — the first time only locally to create the hash that become the address, and one last time when the public key is revealed as part the signature of a transaction moving the funds to a new address.

This in DID:BTCR we should try to approach this ideal. If you use a DDO, you can only use the key pair three times, creating the addr

[2017-06-30 19:27] ChristopherA opened #14 "Using Script as a signature system like P2SH does"
In a sense, we could use the method that P2SH uses in bitcoin as a new signature system type for DDOs and Verified claims. Basically the scriptPubKey is the pubkey, and the scriptSig is the private key. This would require us to re-package bitcoins script https://github.com/bitcoin/bitcoin/blob/master/src/script/sign.h to instantiate a new BaseSignatureCreator for the message instead of a Bitcoin t

[2017-06-30 19:31] ChristopherA commented on #9
libsecp256k1.c does support key recovery https://github.com/bitcoin-core/secp256k1/blob/master/include/secp256k1_recovery.h and bitcoin uses it at https://github.com/bitcoin/bitcoin/blob/master/src/pubkey.cpp#L187

[2017-06-30 19:33] ChristopherA commented on #9
On the question of multiple possible keys recovered from a signature:

With NIST ECDSA for any signature there are actually 8 possible different public keys (Y, -Y), (compressed/uncompressed), h=0/1

However, with bitcoin h today is usually 0 (however, there are some examples of h=1 in the past), and most modern code uses compressed

That leaves Y version -Y — we'll have to look at the libsecp256k

[2017-06-30 19:44] roconnor-blockstream commented on #9
For some very rare signature values with small r values there is more than one x-coordinate that will correspond to it.  This doubles the number of possible public keys for those cases.

[2017-06-30 19:58] ChristopherA commented on #10
A potential start for a template of a DID:BTCR based verifiable claim. Still some real problems here…

[code]

[2017-06-30 21:35] ChristopherA opened #16 "Encoding of Koblitz Public Key"
It doesn't appear that there is any standard yet for encoding of a koblitz curve public key (i.e. the secp256k1 curve).

There is a proposal of base58 prefix of 4 for compact Bitcoin public keys (see https://en.bitcoin.it/wiki/Base58Check_encoding ), but as far as I know no one uses that.

Bech32 is superior to base58 in a variety of ways, may be we should consider using that? I do know that Light

[2017-06-30 21:50] ChristopherA opened #17 "Multisig Futures with BTCR"
There are some interesting future scenarios for use of multisig in BTCR.

The easiest is revocation. If the tip is a multisig address, for instance a 2 of 5, I could give my 5 closest colleagues the right to revoke my DID if at least 2 notice misbehavior of my account and move the unspent funds on the tip off. They can post a revocation reason (see #5) in an op_return), or put the key on hold (see

[2017-06-30 21:58] ChristopherA opened #18 "Schnorr Futures"
At some point we'll want to move from koblitz ECDSA signatures to koblitz Schnorr signatures. This will offer some huge advantages long term.

Note however, unlike ECDSA you can't recover a Schnorr public key from a Schnorr signature. This means you have to get the public key from either the data structure, or from some other source.

We need to be sure that our data structures support both curren

[2017-07-01 05:29] jonasschnelli commented on #16
I guess the quasi standard for pubkey is hex representation. The length will define if it's compressed or not.
It's not ideal but works.

Libbtc can work with hex pubkeys (as well as bitcoind).

The libbtc tool (as well as the C API) can do hex pubkey/bip32/privkey operations.

However, private keys have a base58 check standard (WIF).
Ideally, we form a new private key encoding standard based on B

[2017-07-03 15:52] nsmolenski commented on #11
Happy to help how I can! Just let me know.

[2017-07-08 02:23] ChristopherA opened #19 "Testing txid to txref tool"
We have a prototype C tool submitted by @shannona for converting traditional transaction ids (aka `txid`) to the proposal by @velesavs & @jonasschnelli for bech32 encoded `txref`'s. The code is in this repo at https://github.com/WebOfTrustInfo/btcr-hackathon/tree/master/txid2bech32 until we a more solid version.

We haven't been able to fully test it as we don't have any testnet vectors (see https

[2017-07-08 02:28] ChristopherA commented on #2
@jonasschnelli Your example above:

    "tx1-rk63-uvxf-9pqc-sy" is my official communication key reference (after the BIP
    above). It's a revokable pubkey and it allows anyone to establish a secure connection
     (the initial setup at least).

This is EXACTLY what DIDs are for! Bootstrapping into a secure setup with another party. There is actually a fairly large community of people working at

[2017-07-08 02:32] sipa commented on #2
Please don't abuse the UTXO set as key revocation storage :(

[2017-07-08 02:45] ChristopherA commented on #2
@sipa, @petertodd had some ideas about how we can minimize that in the future. I'm not sure it will go to zero, but much reduced. He hasn't published his technique yet but I presume it will also be similar to one he is working on for #opentimestamps

For now we are trying to get a prototypes functioning, but your concern is valid and been noted for some time (it is issue #4 in this repo for instan

[2017-07-08 03:02] ChristopherA opened #20 "Need to write DID:BTCR Best Practices vs Reasonable Practices Docs"
At some point we need to write up some best practices vs reasonable practices documentation.

For instance, ideally you should treat your keys like you do with bitcoin — you use your root key to sign your transaction and immediately sign a few other objects with it (such as the DDO), and you never use it again. If you need ongoing signing keys, put them in the DDO and expire them regularly.

For a

[2017-07-08 03:06] ChristopherA opened #21 "Issues with Bitcoin Signed Playgrounds"
There are some errors in the ecdsa-koblitz-pubkey as we are using it in our signature format and JSON-LD and Verifiable Claims playgrounds. Not sure where to put the issues for these, but may be depending on fixing them (or forking or replacing them) for the purposes of our hackathon.

The VC playground currently generates:
[code]
However, in fact the value under creator, currently specified as

[2017-07-08 03:14] ChristopherA opened #22 "JSON-LD Canonicalization Javascript or Web Service?"
There are currently a limited number of libraries for canonicalizing JSON-LD. In particular, for prototyping some DID tools as shell and/or C commands, we can do JSON, RPC and do bitcoin signing but we can't canonicalize it.

I'd like to see a standalone Javascript page and/or RPC web service that you can download locally to your computer that can:

* given a JSON-LD, validate it
* given a JSON-LD

[2017-07-08 03:16] ChristopherA commented on #22
Thinking about this further, if this web page or service could also do the bech32 txid <-> txref conversions, and recover a public key from a signature or a the JSON of a rawtransaction, that would be useful.

[2017-07-08 03:23] ChristopherA commented on #4
As @sipa said in https://github.com/WebOfTrustInfo/btcr-hackathon/issues/2#issuecomment-313828096

    Please don't abuse the UTXO set as key revocation storage :(

What I said in my reply to @sipa's comment was:

    @sipa, @petertodd had some ideas about how we can minimize that in the future.
     I'm not sure it will go to zero, but much reduced. He hasn't published his technique
     yet but

[2017-07-08 04:14] ChristopherA opened #23 ""id=?" in verifiable claims"
I tried to puzzle through a valid DDO as a verifiable claim at https://raw.githubusercontent.com/ChristopherA/self/master/ddo.jsonld a number of issues came up.

[code]

First as per #21 we don't have the right format for koblitz public keys (ecdsa-koblitz-pubkey isn't a public key, it is a hash). There are questions regarding issuer and owner.

But there are a number of questions about the ID num

[2017-07-08 04:17] ChristopherA commented on #9
@jonasschnelli Any progress on adding public key recovery to libbtc? Ideally we'd love to have it for the hackathon starting Monday, but I don't want to put pressure on you given short timeing. It would just be very useful.

[2017-07-08 04:23] ChristopherA commented on #16
@jonas I guess I dislike hex encoded public keys. I like how in the 25519 based app minilock you can share it easily for file sharing (mine is at 7rXYBKi1Xf9g9nupb9f8u6MHbobEJCMK3r3sChjN5RmGN and I shared it on Twitter at https://twitter.com/ChristopherA/status/634466769311105024).

Now normally for the twitter case you wouldn't share your public key verbally, you'd share your bech32 encoded DID,

[2017-07-08 07:38] ChristopherA commented on #19
I just tried it on my own linode testnet full node txindex and I'm getting segfaults — so something is different from @shannona's config and mine. Only thing notable is mine is based on bitcoin 14.2 and his is 14.1, but I doubt that will be it. I'll try reverting to 14.1, otherwise revisit the latest in c debuggers ;-)

[2017-07-08 08:41] shannona commented on #19
I just uploaded a new version with better error reporting. It'll show where your error is rather than segfaulting.

However, the error is almost absolutely that you're working with a txid not in your wallet, and 'get transaction' only works on things in your wallet. This needs to be rewritten quite a bit to use 'getrawtransaction', which also require painful digging through janson arrays to figure

[2017-07-08 09:10] shannona commented on #19
There's now a new version that correctly uses getrawtransaction. I've tested it on things both on and off my wallet.

[2017-07-08 09:19] ChristopherA commented on #19
I was eventually able to get the tool to work, but it only worked on a transaction that I had sent. This despite that I have a full node with txindex which means it should have worked for any valid transaction. I think the problem is that there may need to be more RPC calls for transactions not previously known by bitcoind, even thought it has txindex, for this code to function.

In the meantime,

[2017-07-08 09:23] shannona commented on #19
Should now work for things you didn't send, with the newest code here in the repo, which uses 'getrawtransaction' instead of 'gettransaction'.

[2017-07-08 09:29] ChristopherA commented on #19
@shannona Thank you Shannon! I tested on my testnet instance, and both my transaction and your test vector transaction both work properly.

[2017-07-08 09:33] ChristopherA commented on #19
Some possible next steps for this tool would be for it to confirm that the transaction is a P2PKH or PW2WPKH function, extract the public key as the control key, then it could construct the default unsigned DDO that is valid for any transaction without a op_return (using values from the block for date, the txout for hash of the owner key), and see if the DID has been revoked (the owner key address

[2017-07-08 20:44] jonasschnelli commented on #19
I just merged the txref code into libbtc (https://github.com/libbtc/libbtc).
There is now a tool in libbtc called `bitcoin-txref`.

You can encode a txref by `bitcoin-txref 100 1` (block height 100, pos 1).
Testnet: `bitcoin-txref -t 100 1`.
Decode: `bitcoin-txref tx1-rgxq-qyqq-wutf-dp`.

[2017-07-08 20:48] jonasschnelli commented on #9
@ChristopherA: Just opened the pull request: https://github.com/libbtc/libbtc/pull/94
Will merge soon.

[2017-07-09 12:19] veleslavs commented on #2
@sipa one of the core benefits of using the blockchain for identity enrolment is the ability to use proof-of-burn; and proof-of-burn absolutely is not an 'abuse' of blockchain space.  Bitcoin has natural anti-ddos preterites that users, quite legitimately, wish to make use of. One of these uses is WoT.

On revocation, revocations are indeed a natural utility of a globally consistant and replicated

[2017-07-09 12:29] veleslavs opened #24 "Pre-Draft Feedback on WoT Enrolment Transaction BIP"
Myself and @jonasschnelli have been brainstorming and working in private about a proposed Identity Enrolment Transaction for Bitcoin (and other comparable blockchains).

https://github.com/veleslavs/bips/blob/wip/bip-XXXX-Revocable_Public_Key_Enrolment_Transaction_with_Optional_Cost.mediawiki

We would certainly welcome more pre-draft feedback on this work-in-progress BIP.

cc: @muneeb-ali @shea25

[2017-07-09 12:37] veleslavs commented on #2
@ChristopherA A pull request for our Bech32 encoding of Transaction References has been opened: https://github.com/bitcoin/bips/pull/555

No number has been assigned as of yet.

[2017-07-09 16:35] sipa commented on #2
@veleslavs Well, it just doesn't scale. You can't expect there to exist an unspent UTXO for every human in the world (or any meaningful subset thereof). Don't start off building technology that will be unusable before it reaches any sizable goal.

Let's agree to disagree then. Also, you're not just using block space, but UTXO space which is far more precious and not paid for. As Bitcoin's UTXO set

[2017-07-09 18:28] jonasschnelli commented on #2
I guess the whole WOT layer is currently in experimenting phase. I'd say let them try out things.

Wouldn't the same argument be true for Bitcoin as a payment system (at least back in 2009)?

[2017-07-09 18:30] sipa commented on #2
Even in 2009, the assumption wasn't that every payment would happen on chain (see early writeups on payment channels, etc).

[2017-07-09 18:55] ChristopherA commented on #2
@sipa, @jonasschnelli @veleslavs — an interesting point of the DID (Decentralized IDentifier) approach is that a Bitcoin DID doesn't have to scale for all the humans in the world. Instead there can be many DID methods, each which can have different requirements. There are already two different DIDs  with different properties proposed for Ethereum (the biggest one being uPort), one for an identity

[2017-07-09 19:01] ChristopherA commented on #2
@sipa, @jonasschnelli, @veleslavs — for an example of an identity focused bitcoin-style sidechain, see http://www.truthcoin.info/blog/codex-identity-sidechain/ by Paul Sztorc (@truthcoin) — he is the creator of drive chain and is a member of the #RebootingWebOfTrust community. That proposal is only a napkin concept, but my point is that as L2 solutions emerge, we can use them to scale Bitcoin styl

[2017-07-09 19:01] sipa commented on #2
Why for example not point to an input that via sign-to-contract commits to the identity and a revocation key, and say that if any later transaction input that signs with the revocation key appears, it is to be considered revoked?

That consumes less block space, is more flexible (only depends on inputs, not whole transactions in a specific format), makes the transactions not distinguishable from n

[2017-07-09 19:09] ChristopherA commented on #2
@sipa - Can you write up with just a little more detail what that looks like? A napkin skech?  I've been trying to get @petertodd to write up his similar thoughts for 9 months. For instance, how does one search for that later transaction that revokes using a light client?

@jonasschnelli — Or maybe you grok better what @sipa is proposing? What was your approach to revoke your id of tx1-rk63-uvxf-9

[2017-07-09 19:17] sipa commented on #2
To register an identity, spend any transaction output (for which you have the key), using a sign-to-contract signature. That is a normal, valid, ECDSA signature that is indistinguishable from a normal one. However, it can be proven to commit to some data (which in this case has same function as the "Signing Data" + a revocation scriptPubkey).

To refer to an identity, just point to that input, giv

[2017-07-09 19:24] sipa commented on #2
Actually, why does the identity establishment need to go in the chain in the first place? Just tell people "My identity key is X, if you ever see a spend on the chain that uses some_derivation_function(X), it is revoked"?

[2017-07-09 19:31] jonasschnelli commented on #2
In general I agree with @sipa about the censorship problem and the fact that UTXO "spam" (OP_RETURN) is not scalable. The sign-to-contract signature sound promising (need to have a closer look).

I haven't really took a close look into revocation (I'm more following this WOT topic in a low-prio manner) but I kinda liked that with the tx-ref id (like my `tx1-rk63-uvxf-9pqc-sy`) you can lookup my id

[2017-07-09 19:36] ChristopherA commented on #24
@veleslavs @jonasschnelli

Thank you for sharing this — I appreciate the proposal! It is quite possible we should implement an approach in this directly instead of our own.

One hope that we had with DID:BTCR was that we would not only be able to revoke, but alternatively rotate the old public key to a new one, rather than the only choice being to revoke. Is there some way to adapt your proposal t

[2017-07-09 19:39] sipa commented on #2
So the only reason to store the registration on the chain is so that you can have a _short identifier_ ?

That sounds ridiculous to me. You're introducing a costly and censorship-enabling step to your protocol just so the string you have to pass to someone else is a few characters shorter?

[2017-07-09 19:42] ChristopherA commented on #2
I would love to figure out a way to address @sipa's concerns and find a way to use sign-to-contract, integrate it with @veleslavs's @jonasschnelli's  thoughts proposed in #24, and somehow find a way to do rotation and a DDO pointer. If we can do this, not only can it be a useful BIP, but I'd be willing to drop my BTCR prototype idea and move to making did:tx1 method a W3C standard track document a

[2017-07-09 19:54] jonasschnelli commented on #2
As you know, I often look from an angel where usability is important and I think a few characters matter for an identity system. IMO, a short ~identifier (like a phone-number) is a key-feature how to attract users who are familiar with centralised systems.

@sipa: I agree with you on the censorship-enabling problem.

I guess some of the desired properties are:
* Short identifier
* Light client loo

[2017-07-09 19:58] sipa commented on #2
Short identifiers are fundamentally incompatible with censorship resistance, I believe (my sign-to-contract idea above does not support it, as you need to communicate the revocation key and s2c proof).

If you have a short identifier, which presumably means it cannot contain cryptographic material, it likely means that the registration (and revocation key/puzzle) is visible to people who do not ha

[2017-07-09 20:13] ChristopherA commented on #11
I've posted the basic #RebootingWebOfTrust user story to  this repository as [RWOT-User-Story.md](https://github.com/WebOfTrustInfo/btcr-hackathon/blob/master/RWOT-User-Story.md) — @jandrieu & @nsmolenski can hopefully take it from there to do a more formal use case [Joram](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2016/blob/master/final-documents/joram-engagement-model.pdf)

[2017-07-09 20:21] ChristopherA commented on #2
This is why I like the idea of our DIDs just being a block number and a transaction id. If you want true censorship resistance that don't do an op_return (what we call a default DDO)  and use the first spent output as a revocation, then  this transaction indistinguishable from any other transaction. Clearly that causes UTXO bloat, and it can't be rotated, but if a user wants a simple censorship re

[2017-07-09 20:25] sipa commented on #2
@ChristopherA You want censorship resistance for the revocation, not the publishing. If you're being censored for registering, just don't start using the identity and try again. If your revocation is censored, your identity may have been stolen.

Regardless of how you encode things, if your identifier is short, it means that the revocation is detectable for everyone.

[2017-07-09 22:44] ChristopherA opened #25 "Censorship Resistance of Revocation"
Related to #3 "Censorship Resistance in OP_RETURN Transactions", as per @sipa's comment https://github.com/WebOfTrustInfo/btcr-hackathon/issues/2#issuecomment-313952263 we also want to have as goal to have censorship resistance for the revocation transaction.

    You want censorship resistance for the revocation, not the publishing. If you're being
    censored for registering, just don't start u

[2017-07-09 23:11] ChristopherA opened #26 "Consequences of TX1, BTCR, LTCR, and BLST as Methods"
I've come to the realization that both @veleslavs & @jonasschnelli's proposal at #24 and the original DID:BTCR proposal are all basically different methods, which the top level DID spec specifically encourages and supports.

If we do one for Lightcoin as well (LTCR? TX2?) and if Blockstack (BLST? cc: @muneeb-ali @shea256  ) also joins us, this means that we could all use the common bech32 encoding

[2017-07-09 23:18] ChristopherA commented on #26
@veleslavs I was going to add an issue to your BIP proposal at https://github.com/veleslavs/bips/blob/Bech32_Encoded_TxRef/bip-XXXX-Bech32_Encoded_Transaction_Postion_References.mediawiki but issues are not allowed there.

What I wanted to propose was that you move the `tx1-` completely out of that BIP, and instead move it to you other BIP at https://github.com/veleslavs/bips/blob/wip/bip-XXXX-Rev

[2017-07-10 00:02] petertodd commented on #2
@sipa your comment "Regardless of how you encode things, if your identifier is short, it means that the revocation is detectable for everyone." is incorrect. The length of identifier is irrelevant to whether or not revocation is detectable by everyone.

First of all, regardless of whether the identifier is a cryptographically secure 256-bit commitment or some sort of short id, anyone who *already

[2017-07-10 00:08] ChristopherA commented on #25
See also @petertodd's comments in https://github.com/WebOfTrustInfo/btcr-hackathon/issues/2#issuecomment-313974367

[2017-07-10 00:09] ChristopherA commented on #2
See also my new issue on censorship resistance of revocation in #25

[2017-07-10 02:06] rxgrant commented on #25
If we were going to invert the responsibilities for discovering the communication resources that DDOs describe (i.e. "service endpoints": names + protocols + IPaddrs), and were instead going to use DIDs merely for verifying signatures, then we could consider pay-to-contract options that offer higher censorship resistance.  We can leave this choice to each DID registrant, but it seems that stuffing

[2017-07-10 03:37] kimdhamilton commented on #21
I am not sure we need a separate `issuer`, but there are several assumptions I'm making. (Below I will sidestep the other issue with `ecdsa-koblitz-pubkey:` encoding.)

Assumptions:

- `creator` is a key owned by the `issuer`. This seems like a common scenario, but (on my read) isn't necessarily obvious from the data model. OTOH, if not, the signature has no bearing on the issuer, so it's useless

[2017-07-10 03:41] veleslavs commented on #2
@sipa thank you for you prompt reply.  I would like to (hopefully) address both the concerns of scaling that you brought up.

I can completely agree in the case that Bitcoin was the only blockchain in the world; however the case is that there are many blockchains with significantly differing security and data costs involved. - This gives users a choice if they wish to enrol their ID on a expensive

[2017-07-10 03:52] kimdhamilton commented on #23
Again, I have more questions than answers.

If we had multiple owner keys in the DDO format, using an example from the [DID spec](https://opencreds.github.io/did-spec/#ddos-(did-descriptor-objects)), we'd have:
[code]
I am under the impression that the fragments are simply unique identifiers within the owner array. (I'd like to be corrected if that's wrong). Using your example, in DDO format, I th

[2017-07-10 04:01] veleslavs commented on #2
I don't get the particular concern about censoring ID's on the blockchain.  ID's are enrolled virgin and have no political value until they are actually used for a political purpose. Once they have been successfully inserted and buried in the blockchain dose the censorship concern still stand?; I cannot see how censorship here can be a concern.

About revocation:
A revocation should be gossiped th

[2017-07-10 04:12] veleslavs commented on #2
Myself and some of my friends have put a great-deal amount of work into designing a set-of-supporting infrastructures for supporting ID's; the WoT and it's associated distributed and decentralised data-structures.  However the work is in a form that is far-too-young to publish publicly yet.  When you dig into the decentralised WoT problem you quickly find it is dungeon with dragons and many bodies

[2017-07-10 04:24] veleslavs commented on #26
@ChristopherA Thank you for your feedback;
I've enabled issues on my GitHub Repository; however I think that this issue in particular may be best suited for comment on the PullRequest for the BIP:

https://github.com/bitcoin/bips/pull/555

About Litecoin and other Blockchains; we have a dedicated field within the TxRef format for different blockchains; one only needs to add a new appendix for Lite

[2017-07-10 04:24] veleslavs commented on #26
Please re-ask your question on the Pull Request; I will formulate a more complete reply there.

[2017-07-10 04:37] ChristopherA commented on #2
@veleslavs Don't concern yourself that we are rushing. Even this purpose of this virtual  hackathon is to better inform us about the issues, which will prepare us for our next F2F in Boston in October. You'll see in our GitHub that we've been working on this hard since Pieter Wuille, Greg Maxwell, Peter Todd & others joined us for the first #RebootingWebOfTrust in November of '15.

You'll find man

[2017-07-10 10:11] rxgrant commented on #4
It's easy to imagine a sidechain that manages DID update access for many identities at the cost of a single Bitcoin UTXO, along with reliance on an external data store to retrieve the actual keys.

Part of our messaging could take the experimental nature of this blockchain integration into account.

[2017-07-10 22:19] kimdhamilton opened #27 "Specify an tx-signed deterministic DDO"
Specify an tx-signed deterministic DDO, that conforms to DDO spec 1.0, and is not a verifiable claim.

[2017-07-10 22:24] kimdhamilton opened #28 "DDOs as Verifiable Claims"
Dependent on #27
- Represent DDO as a Verifiable Claim
- Claim signed by the same key as the Bitcoin transaction

[2017-07-10 22:27] kimdhamilton commented on #28
sent invite to @dlongley, who was the other proposed assignee

[2017-07-10 22:49] kimdhamilton opened #29 "BTCR intro documentation"
Ryan Grant gave a useful intro to DIDs and DDOs. We're going to write this up for review for broader sharing

[2017-07-10 22:53] kimdhamilton opened #30 "Given a DID, get the transaction (javascript implementation)"
The input would be a bech32-encoded transaction, which is used by both BTCR and TX1.

From this, get the transaction (and DDO)

This issue tracks the javascript implementation. Please open separate issues for other language/library support.

[2017-07-11 00:24] kimdhamilton commented on #29
initial pass here: https://github.com/WebOfTrustInfo/btcr-hackathon/blob/master/docs/did_intro.md

[2017-07-11 01:30] kimdhamilton opened #31 "Given a DID, get the transaction (python implementation)"
The input would be a bech32-encoded transaction, which is used by both BTCR and TX1.

From this, get the transaction (and DDO)

This issue tracks the python implementation.

[2017-07-11 20:27] narula commented on #2
@veleslavs gossiping to the network is not a long term solution.  The revocation must be stored somewhere so a future user can find it.  Where are you storing it?

[2017-07-11 21:14] ChristopherA opened #32 "Demo of DID:BTCR / DDO based on reasonable practices"
Create a testnet-based DID pointing to a DDO, and document the "reasonable practices" DID scenario (i.e. secure but not truly pseudo-anonymous identity, see #20) for DID:BTCR.

[2017-07-11 21:16] ChristopherA commented on #32
I have a testnet based DID with a pointer to a DDO functioning.

You can see the transaction at https://live.blockcypher.com/btc-testnet/tx/f8cdaff3ebd9e862ed5885f8975489090595abe1470397f79780ead1c7528107/

The op_return points to a 69 character value:  https://raw.githubusercontent.com/ChristopherA/self/master/ddo.jsonld

From bitcoind here is the transaction:
[code]
[code]
Converting the txid to

[2017-07-11 21:23] ChristopherA commented on #32
I can't find a tool to generate a pubkey from a testnet encoded base58check private key (see #21), or to extract one from a signature (#9). I don't have a tool that will sign a JSON-LD properly with a testnet key yet (#21 ). It is unclear that this is a valid verifiable claim (#8 #28) nor how to append verifiable claims issues by this identity (#10).

But it will look something like:

[code]

[2017-07-11 21:32] ChristopherA commented on #32
Some notes on the "reasonable practices" scenario (see #20).

1. This is not a pseudo-anonymous DID,  I am a public figure.

2. As such this DID a potential source of trust for discovery of web-of-trust networks by both my peers and by attackers. I need to be careful and not reveal too much information about colleagues & peers without their explicit permission.

3. This is my computer professional

[2017-07-11 21:55] ChristopherA commented on #20
A first pass at some quick definitions:

* Reasonable Practices (see #32) — basically secure but not for truly pseudo-anonymous identities. Low cost in both establishing and maintaining identity in skills, $ and time.

* Pragmatic Practices — more secure for persistent pseudo-anonymous identities, but more to avoid attacks by black hats or corporate attackers. Higher cost in skills, $ and time.

*

[2017-07-12 00:07] ChristopherA opened #33 "Challenges in Understanding Spectrum of Integrity/Inspection/Validation/Verification/Confirmation/Revocation"
(this is a pre-draft of a post to be an issue on https://github.com/w3c/vc-data-model/issues/ or possibly added to https://github.com/w3c/vc-data-model/issues/58 once it is more thought out)

As evidenced by the failure of polling in the W3C Verifiable Claims WG last week on the name of the role of Validator vs. Inspector, and the lively discussion in the WG meeting today https://www.w3.org/2017/0

[2017-07-12 00:24] ChristopherA commented on #33
BTW, the logic of my ordering of these different spectrum words started with the name of the working group, Verifiable Claims.

- INTEGRITY CHECK includes malformation and cryptographic signature or proof checks - this is defined by the signature system spec
- INSPECT INTO means looking inside for something and then going outside to get it — this is defined by the data model spec
- VALIDATION mean

[2017-07-12 01:27] ChristopherA commented on #33
The topic of revocation will be much harder to define — in fact, we probably need as many stages and roles for it alone as the above has about the spectrum from integrity to confirmation.

What they all the forms of revocation have in common is to help us with deal with the edge cases when things can go wrong.

The simplest case should be expiration. However, does the fact that someone have a cert

[2017-07-12 02:15] ChristopherA commented on #33
In our user story of **Alice**, the Syrian Hacker Army is targeting her as the author of an Android app that helps Syrian refugees communicate with the families back home and send them care packages through a random peer-to-peer network of people sharing their car trunk capacity. An Uber of small gifts, an AirBNB of trunk space.

**Alice** has been careful with her cryptographic keys, but she has

[2017-07-12 02:18] ChristopherA commented on #33
A reminder: there will likely in time be other specific techniques for doing revocation, see #2 and #25.

[2017-07-12 02:20] ChristopherA commented on #33
A question for @jandrieu: I know that you like to keep your 15 step use cases to be technology-agnostic, but what steps in your model am I missing from the above?

I'd love to get from our graphic facilitators a little graphic image based on the stories above for each of your 15 steps, and present those 15 steps and how they work with the current BTCR concept as a slide deck.

[2017-07-12 03:08] jandrieu commented on #33
@ChristopherA I'll dive into the mapping to 15 steps later tonight, but I wanted to suggest a distinction that I hope will help reduce the complexity of revocations.

Without some sort of general knowledge engine, aka, AI, we can never algorithmically know if any given statement is true or justified or appropriate. We may be able to tell if it is intended as a statement of fact rather than opinion

[2017-07-12 16:48] jandrieu commented on #33
After sleeping on it, I think we also need to bring up the update/amend techniques. I raised this a year ago in the VCTF, but didn't get traction on it.

However, if DIDs are specifically designed to enable updating DDOs without changing the URL (and they are), and if DDOs are verifiable claims (and that has been proposed), then we are explicitly building an architecture to update claims.

Yes, th

[2017-07-12 17:25] dlongley commented on #33
In my view, I don't think DDOs should be claims, but rather, they may embed (or link to) credentials that contain claims.

When dereferencing a DID, you get a DDO, which is a document that contains a graph (or RDF dataset) where the main node in the graph lists relationships (RDF predicates) between the entity the DID identifies and other nodes or literals. One such relationship could be a list of

[2017-07-12 21:30] petertodd commented on #4
@rxgrant Remember that such a sidechain has a censorship risk; you'd at least want a backup method of revocation via publishing in another medium, such as Bitcoin itself.

[2017-07-12 21:33] petertodd commented on #3
@apoelstra Submitted a pull-req to python-opentimestamps for pay-to-contract-hash that I'll be implementing sometime in august: https://github.com/opentimestamps/python-opentimestamps/pull/14

For now I'd just stick with op-return, but assume something else will be added in the future. You can easily disambiguate this stuff by pre-committing to which method will be used in the same way you commit

[2017-07-13 00:23] ChristopherA opened #34 "txid2bech32 code and libbtc giving different answers"
@shannona —

When I `bitcoin-cli gettransaction` for testnet transaction `f8cdaff3ebd9e862ed5885f8975489090595abe1470397f79780ead1c7528107` I get a named JSON value `"blockindex": 1,`

You can see the transaction here: https://live.blockcypher.com/btc-testnet/tx/f8cdaff3ebd9e862ed5885f8975489090595abe1470397f79780ead1c7528107/

You can see the block the transaction is in here: https://live.blockcy

[2017-07-13 05:17] jonasschnelli commented on #34
I recently updated the txref code to confirm with the BIP.
Testnet must use txtest as human readable part and we have higher bounds for max height and pos (this why it's two bytes longer).

I think my implementation (use newest master either libbtc or the txref repo) is correct.

[2017-07-13 07:13] shannona commented on #34
I would guess:
(1) We're using an index of 1 too high because of the base coin reward
(2) It looks like maybe it's not registering it as testnet??

I can see if that's it and then with Jonas' tool I can do the testing this needed for verification.

[2017-07-13 07:17] jonasschnelli commented on #34
The testnet support was just added, the last time I reviewed @shannona txid2bench32 it was using mainnet logic for testnet (my reference implementation was not ready for testnet during the time @shannona had copied it over).
See the BIP for testnet: https://github.com/bitcoin/bips/pull/555

[2017-07-13 07:21] shannona commented on #34
So your newest txref code might be all that's needed? I'll give it a shot.

[2017-07-13 07:22] jonasschnelli commented on #34
@shannona: I think so. You will need some adoption on the caller side. Make sure you have large enough buffers.

[2017-07-13 07:23] shannona commented on #34
Right. Got it. Will take a look in the morn. Thank you!

[2017-07-13 10:49] PositronicBrain opened #35 "When storing the DDO on IPFS how to encode the corresponding hash in the OP_RETURN"
IPFS uses a base58 encoding for the hashes which points to documents, example: `QmeNm7hRTtLsYtQA1w8Tu9wHzu8ZfBFc4w59UMuAK3b2ar`, which has length 46 bytes. In order to save space in the OP_RETURN one would like to store the raw decoded bytestring.

The above address has decoded representation: `12 20 ee 45 65 85 70 89 4a 2f fe f3 fe 11 de b3 0a ac 08 c4 39 8b e1 bd 25 0d 85 dd bc ca 67 1f 99 bf` w

[2017-07-13 13:08] veleslavs commented on #2
@narula the long term solution that I had proposed is that the revocation output is spent. With UTXO commitments this becomes very quick to lookup and verify.  The gossiping network is for new revocations.

However on a side note; having a indexing server for 7B+ ID's and revocations is not that unreasonable.  So the gossiping network in-itself with quite a reasonable amount of storage can work we

[2017-07-13 17:07] kimdhamilton commented on #30
checked in

[2017-07-13 17:07] #30 closed

[2017-07-13 17:08] kimdhamilton opened #36 "txid to bech encoding conversion playground"
- [x] show block height/pos
- [x] call the field txref rather than did
- [ ] explanatory text
- [x] link to DDO
- [ ] owner key
- [ ] change of control proof in main section
- [ ] block hash
- [ ] merkle tree and date in signature block
- [ ] different apis

[2017-07-13 18:09] ChristopherA commented on #36
See also #34 — does your tool agree with libbtc's answer?

[2017-07-13 18:15] shannona commented on #34
I've updated to the newest version of txref_code.c (and .h), with the testnet support, and now I get similar, but maddeningly different results. It's maddening because as far as I can tell I'm providing the same input. The blockheight and index check out:
[code]
Versus:
[code]
This is my invocation for the testnet case:
[code]
The updated files are [here](https://github.com/WebOfTrustInfo/btcr-hac

[2017-07-13 18:19] ChristopherA opened #37 "DDO as composite object"
One of the insights from this hackathon is that the DDO can be a composite object.

We have the deterministic part that is, in effect, signed by the blockchain. In BTCR this part verifies  an persistent unique confirmed identifier (the txref that is an encoding of chain, block and index), another unique by unconfirmed identifier (the txid), one owner key (which signed the transaction), one control

[2017-07-13 18:20] ChristopherA commented on #37
It can also be implied that if we can append one thing, we can append more. So one DDO object may add a link where to find more parts of the DDO object, just like the op_return points to the first object.

[2017-07-13 18:24] ChristopherA opened #38 "Need new class of keys because of overloaded Owner Keys"
We have a problem in our DID specification where we are assuming that owner keys are what is also used for signing claims. This is causing us a number of problems in the BTCR method.

What we are discovering is that what the spec says owner key is used for is overloaded.

Instead, I suggest that the owner key(s) are ONLY used for signing DDO objects.

What we need is another list, with a name TBD

[2017-07-13 19:03] shannona commented on #34
Unshockingly, the correct reference decodes, and mine does not at all:
[code]

[2017-07-13 23:47] kimdhamilton commented on #36
available here: https://weboftrustinfo.github.io/btcr-tx-playground.github.io/

[2017-07-13 23:50] kimdhamilton commented on #36
- show block height/pos
- different apis
- explanatory text

[2017-07-14 00:00] kimdhamilton commented on #34
@shannona, FYI when I run my [playground tool](https://github.com/WebOfTrustInfo/btcr-tx-playground.github.io) with txid `f8cdaff3ebd9e862ed5885f8975489090595abe1470397f79780ead1c7528107`, I get `tx1-xyv2-xxqq-fpmp-u0`.

I haven't attempted to run the c code yet, and I should output more details (intermediate steps like block height and index). I'll probably get to that tomorrow.

[2017-07-14 00:02] shannona commented on #34
Which doesn't match Jonas' results. In fact, it's apparently not the correct style for a testnet txref, which should start with 'txtest1'. I suspect you're having the same problem I did, which is using the version of his tools prior to three days ago, before he introduced testnet support. (But as you can see, even with the code I updated today, I still can't quite get my results to match his.)

[2017-07-14 00:08] kimdhamilton commented on #36
@ChristopherA I'm not sure from that issue what libbtc's answer is, but the items @shannona is posting (which I think are the latest outputs) are definitely different. The result length (non-prefix part) is 2 chars longer. I thought mine handled testnet, but perhaps the way testnet is handled changed.

So yeah, basically not sure anymore what our source of truth is...

[2017-07-14 00:11] kimdhamilton commented on #36
prefix has changed to txtest1:

- https://github.com/jonasschnelli/bitcoin_txref_code.git
- https://github.com/jonasschnelli/bitcoin_txref_code/blob/master/ref/c/tests.c

[2017-07-14 00:15] kimdhamilton commented on #36
from @ChristopherA: also use blockcypher data to extract essential data from transaction need for deterministic DDO...DDO pointer, owner key, change of control proof in main section, and block hash & merkle tree and date in signature block.

[2017-07-14 05:07] shannona commented on #34
@jonasschnelli if you had any insight into why I can't quite get the right answer (see the 3rd and 4th answers above), it'd be quite welcome.

[2017-07-14 06:20] ChristopherA commented on #21
New playground supporting testnet keys from @harlantwood https://peaceful-inlet-31266.herokuapp.com/playground/

[2017-07-14 07:18] ChristopherA commented on #37
cc: @kimdhamilton

Here is a deterministic DDO, based on my DDO transaction. Unfortunately I broke the JSON someplace in here but I think you can get the basic idea.

[code]

[2017-07-14 07:31] ChristopherA opened #39 "Insight for DID spec: proofs, not keys"
An insight from the work this week is we should not be talking about owner key, or control key, etc.

Instead, we should be talking about proofs.

For instance, this fragment from a DDO

  {
          "control":
          [{
              "control-bond": 1.25
              "rotate-proof": [{
                  "proof-type": "pubkeyhash",
                  "bond-value": 1.25
                  "hash-

[2017-07-14 18:00] kimdhamilton commented on #1
We've decided this is a good approach. Close with summary/topic paper. Add links

Point to BIP PR, etc -- note final format may change

[2017-07-14 18:03] kimdhamilton commented on #5
TODO: Ryan Grant is an assignee too

@xrgrant

[2017-07-14 18:05] kimdhamilton commented on #7
@xrgrant

[2017-07-14 18:06] kimdhamilton commented on #9
TODO:
- [x] javascript
- [x] Verify public key on json-ld playground

This is available in libbtc

[2017-07-14 18:09] kimdhamilton commented on #12
I'm going to start with this in RWoT repo, and iterate from there:
https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2017/blob/master/topics-and-advance-readings/open-badges-as-verifiable-claims.md

[2017-07-14 18:11] kimdhamilton commented on #14
TODO: Move to issue on rebooting

[2017-07-14 18:11] kimdhamilton commented on #16
TODO: RWoT repo

[2017-07-14 18:12] kimdhamilton commented on #17
TODO: move to RWoT

[2017-07-14 18:12] kimdhamilton commented on #18
move to RWoT

[2017-07-14 18:13] kimdhamilton commented on #19
Goal: all tools give same answers

[2017-07-14 18:15] kimdhamilton commented on #21
Verify signing with testnet keys. Also verify pubkeys

[2017-07-14 18:17] kimdhamilton commented on #22
Move to RWoT

[2017-07-14 18:17] kimdhamilton commented on #22
Service for languages that don't have json-ld libraries

[2017-07-14 18:17] shannona commented on #19
That would be nice, @kimdhamilton ! Have you been able to update yours to the newest version of Jonas' code? If so, which answer are you getting for `f8cdaff3ebd9e862ed5885f8975489090595abe1470397f79780ead1c7528107`?

Currently `bitcoin-txref` from @jonasschnelli  gives `txtest1-xyv2-xzyq-qqm5-tyke`, which I assume is correct while my updated `txid2bech32` gives `txtest1-xxyv-xzxz-qqmq-tyke`, whic

[2017-07-14 18:19] kimdhamilton commented on #24
Move to RWoT. Create TX1 method

[2017-07-14 18:19] kimdhamilton commented on #26
move to RWoT

[2017-07-14 18:21] kimdhamilton commented on #27
display in this format in playground

[2017-07-14 18:22] kimdhamilton commented on #28
Fragment 0 is not verifiable claim, but frag 1+ are. Latter proven by issuer or owner proofs

[2017-07-14 18:27] kimdhamilton commented on #31
Add repo when finished

[2017-07-14 18:29] kimdhamilton commented on #35
Document as well

[2017-07-14 18:30] kimdhamilton opened #40 "Need better name for what OP_RETURN is pointing to"
- continuation of DDO?
- next DDO record?
- extension DDO?

[2017-07-14 18:33] kimdhamilton commented on #38
Ryan and @ChristopherA working on MVP DID Spec. Goal: lessons from hackathon, focus on what is in DDR spec is minimum required for BTCR, make suggestions on what in current DID spec maybe should be moved to method specs.

[2017-07-14 18:33] kimdhamilton commented on #39
TODO: insights and links from BTCR hackathon

[2017-07-14 18:37] kimdhamilton opened #41 "Email for results of BTCR Hackathon"
Due Monday

Send to:
- [ ] Verifiable Claim CG @kimdhamilton or @christophera
- [ ] Credentials CG @kimdhamilton or @christophera
- [ ] Blockcerts community @kimdhamilton
- [ ] Drummond forward to DIF group before their hackathon

[2017-07-14 18:40] shannona commented on #19
Digging into this more, it looks like the hyphenation is the variance that I'm seeing.

Here's mine:
[code]
Here's Jonas'
[code]
(Obviously, Jonas' is hyphenating correctly.)

[2017-07-14 18:41] kimdhamilton opened #42 "Everyone: github DID"
Each of us should create a bitcoin testnet DID and a github DID where the commit is signed with our PGP key, so we can start creating some web of trust schemas and examples.

* [X] @ChristopherA did:btcr:xyv2-xzyq-qqm5-tyke

[2017-07-14 18:44] jandrieu commented on #33
That sounds right, @dlongley

[2017-07-14 18:51] shannona commented on #19
And this is where the variance occurs. Mine:
[code]
Jonas':
[code]
Which is this line of code, under the nonstandard hyphenation section:
[code]

[2017-07-14 19:45] shannona commented on #19
OK, so here's how that line works:

The `output+olen` pointer is at the start of the second `tyke`. That means that `output+olen-8` with a length of 4 should be `qqm5` and it should copy to `output+olen-5`, which is `5tyk`. Obviously the right result is Jonas' `qqmqqm5e`. On mine I instead get `qqmqqmqe` which is like there was a timing error or something and it picked up the final `q` after that

[2017-07-14 20:05] shannona commented on #19
Alright, so the answer seems to be that Jonas' library works differently depending on if you compile with the `-O2` flag or not.
[code]
Versus:
[code]
So, we can get consistently right results if we compile it consistently, but that's very fragile, and I presume a bug.

I'm going cleanup my copy of this code, reupload it, and update the explanation with a stern warning on compiling.

[2017-07-14 20:07] shannona commented on #34
Full explanation of latter problem [here](https://github.com/WebOfTrustInfo/btcr-hackathon/issues/19#issuecomment-315454728). It looks like you get the right results if you compile `-O2` and there's a `memcpy` error if you don't, which is presumably a bug in the library.

Closing this as a duplicate for that thread.

[2017-07-14 20:07] #34 closed

[2017-07-14 21:04] ChristopherA opened #43 "At close of Hackathon, evangelize results to continue dialog"
To keep the dialog open about BTCR and the results of this hackathon, notify various communities and try to keep conversations going.

This should be the last issue closed in this repo.

* [ ] W3C Credentials CG Public List <public-credentials@w3.org>
* [ ] W3C Verifiable Claims WG Public List <Verifiable Claims Working Group <public-vc-wg@w3.org>
* [ ] DID Repo Issues https://github.com/opencreds

[2017-07-14 21:06] ChristopherA commented on #43
I submitted some early results about DIDs from the Hackathon to the W3C Credentials CG Public List <public-credentials@w3.org>  on subject "Initial insights on DID spec based on this week’s DID:BTCR Hackathon" https://lists.w3.org/Archives/Public/public-credentials/2017Jul/0018.html

[2017-07-14 21:24] ChristopherA opened #44 "Close every issue by resolving it, moving it, or documenting it, with two-way links"
All that we've learned here should be shared. All the issues should be resolved (if it is a simple bug or something not worth sharing), moving the issue to the appropriate repository (for instance the DID spec repo https://github.com/opencreds/did-spec/issues/ or in this Fall's #RebootingWebOfTrust repo https://github.com/weboftrustinfo/rebooting-the-web-of-trust-fall2017/issues), writing up repor

[2017-07-14 22:16] ChristopherA commented on #35
I'm in favor of it being that our rule is that if it is a binary 256 bit value, presume that it is an IPFS hash and contruct it. It is the most decentralized and censorship resistance appraoch. If someone wants to refer to the other form, just make it a full URL. Both should work.

[2017-07-14 22:29] ChristopherA commented on #39
I started this at https://github.com/opencreds/did-spec/issues/4#issuecomment-315449659

I'd like to see a paragraph or so from each of us of top lessons learned, and important links to code, text, or issues contributed to.

[2017-07-14 22:43] ChristopherA opened #45 "What would a counter-signed RWoT claim look like?"
Using my DID (the latest value from Shannon's code), and signing a verifiable claim (created from the verifiable claims playground and signed with my correct testnet private key I used to create the DID transaction) I get:

[code]

This should be (hopefully and eventually) inspectable, validatable, verifiable and confirmable.

However, under the BTCR method, we are extremely self-sovereign centric

[2017-07-14 22:51] ChristopherA commented on #42
Here is a new, hopefully now valid DID txref, for my DID transaction, using the same private key used to sign that transaction, to self-sign a verified claim that my alternate name is "ChristopherA"

[code]

@dlongley @manu this was based on the playground text, but I think you shared elsewhere the default playground text is missing an issuer?

[2017-07-14 23:58] shannona commented on #19
I've added to the README.md the fact that this needs to be compiled with the -O2 flag. I'm still got a TODO of pushing out a version that has a nice JSON array of the relevant information, rather than the somewhat haphazard output currently. Should be out on Monday or Tuesday.

[2017-07-15 07:04] harlantwood commented on #21
The demo Christopher links to is from a PR here: https://github.com/json-ld/json-ld.org/pull/524/files

Although it should probably be in this repo instead: https://github.com/w3c-vc/playground/issues/3

[2017-07-15 21:10] kimdhamilton commented on #36
Code is updated to match Jonas's latest. Code moved to [https://github.com/WebOfTrustInfo/txref-conversion-js](https://github.com/WebOfTrustInfo/txref-conversion-js)

[2017-07-15 21:12] kimdhamilton commented on #19
@ChristopherA @shannona our answers match now, so we can close this whenever @shannona is ready.

[2017-07-15 21:20] kimdhamilton commented on #31
Latest code and tests for js implementation are here: https://github.com/WebOfTrustInfo/txref-conversion-js

[2017-07-15 22:59] kimdhamilton commented on #14
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#5

[2017-07-15 22:59] #14 closed

[2017-07-15 23:01] kimdhamilton commented on #44
https://github-issue-mover.appspot.com/

[2017-07-15 23:02] kimdhamilton commented on #18
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#6

[2017-07-15 23:02] #18 closed

[2017-07-15 23:02] kimdhamilton commented on #17
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#7

[2017-07-15 23:02] #17 closed

[2017-07-15 23:05] kimdhamilton commented on #26
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#8

[2017-07-15 23:05] #26 closed

[2017-07-15 23:06] kimdhamilton commented on #24
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#9

[2017-07-15 23:06] #24 closed

[2017-07-15 23:07] kimdhamilton commented on #22
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#10

[2017-07-15 23:07] #22 closed

[2017-07-15 23:07] kimdhamilton commented on #16
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#11

[2017-07-15 23:07] #16 closed

[2017-07-15 23:08] kimdhamilton commented on #33
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#12

[2017-07-15 23:08] #33 closed

[2017-07-15 23:16] kimdhamilton commented on #11
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#13

[2017-07-15 23:16] #11 closed

[2017-07-15 23:18] kimdhamilton commented on #13
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#14

[2017-07-15 23:18] #13 closed

[2017-07-15 23:18] kimdhamilton commented on #25
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#15

[2017-07-15 23:18] #25 closed

[2017-07-15 23:22] kimdhamilton commented on #3
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#16

[2017-07-15 23:22] #3 closed

[2017-07-15 23:22] kimdhamilton commented on #4
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#17

[2017-07-15 23:22] #4 closed

[2017-07-15 23:23] kimdhamilton commented on #2
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#18

[2017-07-15 23:23] #2 closed

[2017-07-15 23:24] kimdhamilton commented on #6
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#19

[2017-07-15 23:24] #6 closed

[2017-07-15 23:24] kimdhamilton commented on #5
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#20

[2017-07-15 23:24] #5 closed

[2017-07-15 23:39] kimdhamilton commented on #36
This issue was moved to WebOfTrustInfo/btcr-tx-playground.github.io#1

[2017-07-15 23:39] #36 closed

[2017-07-16 19:31] kimdhamilton commented on #19
Thanks for all the help, @jonasschnelli. Except for the issue @shannona raised above (needing to compile with the -O2 flag), everything looks good. We've been able to match your results in 2 prototype implementations:

- c implementation in this repo, uses bitcoin.d: [https://github.com/WebOfTrustInfo/btcr-hackathon/tree/master/txid2bech32](https://github.com/WebOfTrustInfo/btcr-hackathon/tree/mas

[2017-07-16 19:50] kimdhamilton commented on #37
Cleaned up formatting; without comments this is valid JSON:

[code]

[2017-07-17 00:40] msporny commented on #38
Agreed that this is an issue, we hit it this past weekend talking through the spec w/ @talltree in Washington DC.

We need to start considering moving to a capabilities based security model for keys and avoiding the ambient authority security issues that we seem to be marching into.

That is, we should have key attributes in the DDO that are very specific when it comes to what the keys listed can

[2017-07-17 00:59] msporny commented on #39
I suggest we start moving a lot of these issues to the DID spec issue repository. @talltree, @dlongley, and I met in DC this past week to go through a revision of the DID spec that Digital Bazaar needs so it can align it w/ our implementation and thinking. I expect this will be an area of focus at the next RWoT.

Specifically, a capabilities based security model for DDOs and what you can do w/ key

[2017-07-17 01:10] msporny commented on #8
It's exactly as @ChristopherA says, but keep in mind that our DDO implementation is going on 2+ years old at this point. Here's an example of a DDO for our current system:

https://demo.authorization.io/dids/did:2ba2d687-2f92-4c4a-aa45-e3e8a6ae38a1

We'll be revamping it over the next couple of months to align w/ the new DID spec. We expect to suggest changes to DDO objects.

To be clear, a DDO ca

[2017-07-17 01:14] msporny commented on #38
@kimdhamilton wrote:

"DID Spec"? Or "BTC DID Method Spec"?

The DID Spec is this: https://opencreds.github.io/did-spec/

[2017-07-17 01:16] ChristopherA commented on #38
Sounds like we are in general agreement here. I would very narrowly define each capability — I'd rather have the same proof be presented with multiple capabilities rather than overloading a capability.

Another insight from BTCR — whenever you see the word "key", consider not using it. Instead, it is a signature proof, where there may be many other forms of proof in the future. i.e.

[code]

[2017-07-17 01:19] ChristopherA commented on #38
In my opinion after the hackathon, which I believe we all concure on is that the current DID draft at https://opencreds.github.io/did-spec/ has many features in it that are a) not required or are not possible in BTCR, and b) many features in it that probably shouldn't be in that spec at all, but another layer.

In particular, guardian is totally broken. A particular proof may be able to be present

[2017-07-17 01:21] ChristopherA commented on #39
Moving these issues is in progress — many of the issues from this hackathon have already been moved there. @kimdhamilton found a useful tool that moves them intact.

[2017-07-17 05:20] talltree commented on #39
Christopher and Kim,

I'm glad to see these issues move to the DID spec issue repository. Are you
planning for these to start being discussed on the weekly calls, or should
we start planning a dedicated weekly or bi-weekly called on the DID spec.
There is a lot of work to do here and implementations are already underway,
which creates pressure to do it quickly.

Thanks,

=Drummond

On Sun, Jul 16,

[2017-07-17 16:23] joaosantos15 commented on #31
Added to [repo](https://github.com/WebOfTrustInfo/txref-conversion-python).
Created [issue](https://github.com/WebOfTrustInfo/txref-conversion-python/issues/1) to track the implementation updates to match @kimdhamilton [txref-conversion-js](https://github.com/WebOfTrustInfo/txref-conversion-js)

[2017-07-17 16:24] #31 closed

[2017-07-17 17:10] shannona commented on #19
Closed.

[2017-07-17 19:34] kimdhamilton commented on #39
I'm open to both. Btw, tomorrow we have about 15 minutes that you (and/or Manu) can spend on DID topics as you see fit. Given the priority of this spec, I imagine we could carve out a large amount of time for the weekly meeting on an ongoing basis. As the year proceeds, we could juggle the weekly meeting focus.

It's possible that even this won't be enough, so we could have either dedicated recurr

[2017-07-18 00:06] kimdhamilton commented on #45
I think the signatures accumulate in a single array at the end, like this. But @dlongley would know better.

https://github.com/WebOfTrustInfo/btcr-did-tools-js/blob/master/claims/kimh-countersigned.jsonld

[2017-07-18 00:08] kimdhamilton commented on #45
This issue was moved to w3c/vc-data-model#60

[2017-07-18 00:08] #45 closed

[2017-07-18 00:10] kimdhamilton commented on #37
This issue was moved to opencreds/did-spec#12

[2017-07-18 00:10] #37 closed

[2017-07-18 00:10] #19 closed

[2017-07-18 00:11] kimdhamilton commented on #38
This issue was moved to opencreds/did-spec#13

[2017-07-18 00:11] #38 closed

[2017-07-18 00:13] kimdhamilton commented on #8
@ChristopherA which repo should we move this to?

[2017-07-18 01:18] ChristopherA commented on #8
I our prototype, ddo fragment /0 is signed by the blockchain itself (in our case, bitcoin) which points to the next fragment (in our case, through the op_return), and the /1 is a self-signed claim that adds claims about the entity that issued the did. Fragment /1+ could contain more claims, either issued by the did issuer, or accepted from others about the did issuer that the issue accepts.

[2017-07-18 05:00] talltree commented on #39
Kim, thanks. Evernym has a company summit this week so my time on the call
tomorrow will be limited. I'll try to get on the chat and watch for it on
the agenda so I can be sure to join for that segment at least.

=Drummond

On Mon, Jul 17, 2017 at 3:34 PM, Kim (Hamilton) Duffy <
notifications@github.com> wrote:

[2017-07-20 19:00] ChristopherA commented on #11
The local repository version of the [RWOT-User-Story.md](https://github.com/WebOfTrustInfo/btcr-hackathon/blob/master/RWOT-User-Story.md) has been updated with a more integrated version, and copied to the topics directory for next October's #RebootingWebOfTrust Design Workshop for developing further [topics-and-advance-readings/RWOT-User-Story.md](https://github.com/WebOfTrustInfo/rebooting-the-we

[2017-07-22 16:45] kimdhamilton commented on #8
This issue was moved to w3c/vc-data-model#61

[2017-07-22 16:45] #8 closed

[2017-07-22 16:46] kimdhamilton commented on #39
This issue was moved to w3c/vc-data-model#62

[2017-07-22 16:46] #39 closed

[2017-08-05 19:57] kimdhamilton commented on #21
verified @harlantwood's changes

[2017-08-05 19:57] #21 closed

[2017-08-11 06:18] #12 closed

[2017-08-11 06:20] kimdhamilton commented on #9
already fixed in playground (forgot to close this version of the issue)

[2017-08-11 06:20] #9 closed

[2017-08-11 17:46] kimdhamilton commented on #1
Move to RWoT. Some elements not part of BIP may be suitable for W3C

[2017-08-11 17:49] kimdhamilton commented on #7
solved 1&2, create new issues for Blockstack and IPNS

[2017-08-11 17:49] kimdhamilton commented on #7
also want txref to be a method

[2017-08-11 17:55] kimdhamilton commented on #10
- needs claims accepted and claims issued (for DDO) (2 different variants inside)
- need issuer key section
- may require Dave Longley

entity linked data object

[2017-08-11 17:55] kimdhamilton commented on #20
assign to Christopher

[2017-08-11 17:57] kimdhamilton commented on #23
confirm with Manu and Dave that we're doing correctly

[2017-08-11 17:58] kimdhamilton commented on #10
- all keys in one section
- all proofs in one section

[2017-08-11 18:00] kimdhamilton commented on #27
remaining: data that can be in signature part

block proof
mentioned by Greg Maxwell (txref issues)
2 commands in Bitcoind that present a hash tree. Sufficient to verify a block

[2017-08-11 18:01] kimdhamilton commented on #28
Entity problem; we need to better communicate the entity problem

[2017-08-11 18:05] kimdhamilton commented on #42
signing playground

[2017-08-11 18:32] ChristopherA commented on #1
A BIP number has been assigned, BIP 136, but the PR has not been accepted yet — they have asked non-bitcoin references to be deleted.

[2017-08-12 02:14] kimdhamilton commented on #1
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#26

[2017-08-12 02:14] #1 closed

[2017-08-12 02:14] kimdhamilton commented on #10
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#27

[2017-08-12 02:14] #10 closed

[2017-08-12 02:15] kimdhamilton commented on #20
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#28

[2017-08-12 02:15] #20 closed

[2017-08-12 02:15] kimdhamilton commented on #7
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#29

[2017-08-12 02:15] #7 closed

[2017-08-12 02:16] kimdhamilton commented on #27
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#30

[2017-08-12 02:16] #27 closed

[2017-08-12 02:17] kimdhamilton commented on #23
This issue was moved to w3c-ccg/did-spec#18

[2017-08-12 02:17] #23 closed

[2017-08-12 02:18] kimdhamilton commented on #29
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#31

[2017-08-12 02:18] #29 closed

[2017-08-12 02:19] kimdhamilton commented on #28
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#32

[2017-08-12 02:19] #28 closed

[2017-08-12 02:20] kimdhamilton commented on #42
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#33

[2017-08-12 02:20] #42 closed

[2017-08-12 02:22] kimdhamilton commented on #32
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#34

[2017-08-12 02:22] #32 closed

[2017-08-12 02:28] kimdhamilton opened #47 "Testnet DID creation tool"
Per discussion with @ChristopherA , create testnet DID creation tool in-browser (test only)

See source for https://brainwallet.io/, but revert back to previous commit. good feature set

[2017-08-12 02:29] kimdhamilton commented on #6
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#35

[2017-08-12 02:30] kimdhamilton commented on #40
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#36

[2017-08-12 02:30] #40 closed

[2017-08-12 02:31] kimdhamilton commented on #47
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#37

[2017-08-12 02:31] #47 closed

[2017-08-12 02:35] kimdhamilton commented on #41
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#38

[2017-08-12 02:35] #41 closed

[2017-08-12 02:37] kimdhamilton commented on #35
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#39

[2017-08-12 02:37] #35 closed

[2017-08-12 02:40] kimdhamilton commented on #43
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#40

[2017-08-12 02:40] #43 closed

[2017-08-12 02:42] #44 closed